<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://st10399162funcapp-h5ckced5h9bcfebz.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/099bb74b-c2eb-43a1-8217-d08ade925f1e/resourceGroups/RSG-RCKNDB-ST10399162-SANORTH/providers/Microsoft.Web/sites/st10399162funcapp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://st10399162funcapp-h5ckced5h9bcfebz.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>